body{
  width: 100vw; 
  height: 100vh;
  margin: 0;
  background: radial-gradient(rgb(55, 73, 130), rgb(30, 41, 72));
  font-family: "Open Sans", "Helvetica";
  /* center the video elemnet vertically */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* don't display scroll bars */
  overflow: hidden;
}




